In [49]:
# Source :https://www.kaggle.com/harlfoxem/housesalesprediction

<h1 style="color: purple">Predicting Prices of Houses</h1>

<p style = "font-size:18px"> This notebooks predicts the prices of houses using Decision Tree Regressor. <p>

In [136]:
# importing all necessary libraries
import pandas as pd 
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [137]:
data = pd.read_csv('./kc_house_data.csv') # reading in data

In [138]:
data.head() # printing the first 5 values

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [139]:
data.shape # printing the number of rows and columns

(21613, 21)

In [140]:
data.columns # printing different column names

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [141]:
del data['date'] # deleting date data
del data['id'] # deleting id data

In [142]:
# selecting features for predicting the model
features = ['bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15']

In [143]:
# selecting the variable to be predicted
target = ['price']

In [144]:
# deleting rows with null values
data = data.dropna()

In [145]:
data.head() # printing first 5 values

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [95]:
X = data[features] # storing data corresponding to features 
y = data[target] # storing data corresponding to target variable

In [96]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size = 0.33, random_state = 324) # splitting the data

In [146]:
y_test.describe() # priniting statistical data corresponding to the data

              price
count  7.133000e+03
mean   5.432242e+05
std    3.797687e+05
min    7.500000e+04
25%    3.200000e+05
50%    4.500000e+05
75%    6.499500e+05
max    7.700000e+06

In [126]:
y_prediction = Tree.predict(X_test)
y_prediction

array([ 740294.02277433, 1680000.        ,  740294.02277433, ...,
        288171.55555556,  659405.42592593,  319758.00510204])

In [127]:
sklearn.metrics.r2_score(y_test, y_prediction) # printing R squared value

0.7516800976817555

In [147]:
RMSE = sqrt(mean_squared_error(y_true = y_test, y_pred = y_prediction)) # calculating Root Mean Square Error value

In [150]:
print(RMSE) # printing Root Mean Square Error value

189231.9847903644